<%= form_for([@post, @post.comments.build]) do |f| %>
    <p>
        <%= f.label :commenter %><br>
        <!-- Block loggin user to change the commenter name of it-->
        <%= f.text_field :commenter, value: (current_author.email if current_author and current_author.email?), readonly: (true if current_author and current_author.email?)%>
    </p>
    <p>
        <%= f.label :content %><br>
            <%= f.text_area :content %>
    </p>
    <p>
        <%= f.submit %>
    </p>
<% end %>