<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/d3f284b663.js" crossorigin="anonymous"></script>
  </head>
  <body>

    <div class="side-menu">
      <%= link_to root_path do %>
        <i class="fas fa-user-astronaut side-menu-logo"></i>
      <% end %>

      <p class="sign-in">
        Blog
      </p>
      <ul>
        <li>a</li>
        <li>b</li>
        <li>c</li>
      </ul>

      # <p class="sign-in">
      #   Social media
      # </p>
      # <ul>
      #   <li><a href="https://www.linkedin.com/in/po-chien-hao-621150160/">linkedIn</a></li>
      #   <li><a href="https://www.facebook.com/profile.php?id=100001518861042">facebook</a></li>
      #   <li><a href="https://www.instagram.com/star83424/">instagram</a></li>
      # </ul>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <div class="page"> 
      <%= yield %>
    </div>
  </body>
</html>
