<div class="page-header">
    <% if @blogger %>
      <h1 class="page-title"><%= @blogger.email %>'s Blog</h1>
      <%= link_to 'Back to all', posts_path%>
    <% else %>
      <h1 class="page-title">All Posts</h1>
    <% end %>
    <% if author_signed_in? %>
      <%= link_to 'New Post', new_post_path%>
      <%= link_to 'Log Out', destroy_author_session_path, method: :delete%>
    <% end %>
    <% if !author_signed_in? %>
      <%= link_to 'Register', new_author_registration_path%>
      <%= link_to 'Log In', new_author_session_path%>
    <% end %>
</div>

<div class="page-body">
    <div class="page-content">
        <table class="post-list-table">
            <tr>
              <th class="table-title">Title</th>
              <th class="table-author">Author</th>
              <th class="table-published-time">Published Time</th>
            </tr>
           
            <% @posts.each do |post| %>
              <tr>
                <td><%= link_to post.title, post %></td>
                <td><%= post.author.email %></td>
                <td><%= post.created_at.strftime("%B %d, %Y") %></td>
              </tr>
            <% end %>
        </table>
        <br>
        <%= form_tag posts_path, method: :get do %>
          <%= pluralize(@total_posts, "result")%> found! <br>
          <%= button_tag "Go to page" %>
          <%= select_tag :go_to_page, options_for_select([*(1..@total_page)], @go_to_page) , class: "page-select"%>/ <%= @total_page %> pages
          with <%= text_field_tag :per_page, @per_page , class: "per-page-input"%> posts per page
        <% end %>
    </div>
</div>

<!--# we also want to add content to side menu below the "Blog"-->
<% content_for(:menu_blog_search) do %>
  <%= form_tag posts_path, method: :get do %>
    Visit by Blog Account: 
    <%= text_field_tag :blogger, (@blogger ? @blogger.email: nil) %>
    <%= button_tag "Go" %>
  <% end %>
  <ul>
    
  </ul>
<% end %>