<div class="page-header">
    <h1 class="page-title">Posts List</h1>
    <% if author_signed_in? %>
      <%= link_to 'New Post', new_post_path%>
      <%= link_to 'Log Out', destroy_author_session_path, method: :delete%>
    <% end %>
    <% if !author_signed_in? %>
      <%= link_to 'Register', new_author_registration_path%>
      <%= link_to 'Log In', new_author_session_path%>
    <% end %>
</div>

<div class="page-body">
    <div class="page-content">
        <table class="post-list-table">
            <tr>
              <th class="table-title">Title</th>
              <th>Author</th>
              <th>Published Time</th>
            </tr>
           
            <% @posts.each do |post| %>
              <tr>
                <td><%= link_to post.title, post %></td>
                <td><%= post.author_id %></td>
                <td><%= post.created_at.strftime("%B %d, %Y") %></td>
              </tr>
            <% end %>
        </table>
    </div>
</div>