<div class="page-header">
    <span class="page-title"><%= @post.title %></span>
    <%= link_to 'Back', posts_path %>
	<% if author_signed_in? %>
		<% if @post.author_id == current_author.id %>
			<%= link_to 'Edit', edit_post_path(@post) %>
			<%= link_to 'Delete', post_path(@post), method: :delete, data: {confirm: 'Delete this post?'} %>
		<% end %>
    	<%= link_to 'Log Out', destroy_author_session_path, method: :delete%>
    <% end %>
    <% if !author_signed_in? %>
		<%= link_to 'Register', new_author_registration_path%>
		<%= link_to 'Log In', new_author_session_path%>
    <% end %>
</div>

<div class="page-body">
	<div class="page-content">
		<div class="post-date">
			<p>Author: <%= @post.author_id%></p>
		</div>
		<div class="post-date">
			<p>Published time: <%= @post.created_at.strftime("%B %d, %Y")%></p>
		</div>
		<div class="post-content">
			<div>
				<p>
					<%= @post.text %>
				</p>
			</div>
		</div>
		<div class="post-comment">
			<h2>Comments</h2>
			<%= render @post.comments %>
			<br>
			<h2>Add a comment:</h2>
			<%= render 'comments/form' %>
		</div>
	</div>
</div>

